* {
  Font-Family: 'Monda', Sans-Serif;
}

body{
  color: white;
  background-color: #03192D
}

 a:visited{
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}

a:link{
  text-decoration:none;
}

a:hover{
  color: #FFD166;
}

.title-component{
margin-bottom: 7vh ;
color:#ef476f;
text-shadow: 1.5px 1.5px #701f32;
}

p{
  text-align: justify;
}

.App {
  text-align: center;
}

.components{
  Padding: 10vh 4vw;
 }

.social-medias{
  display: flex;
  justify-content: space-around;
}

i{
  margin: 2rem 2rem ; 
}



/* navbar*/

.navbar-brand {
  font-size: 1rem;
}

.navbar {
  justify-content: flex-end;
  
}  
.navbar-brand:hover{
  border-color: #FFD166;
  border-bottom: 1px solid;
  
}

/* Header */

.App-header {
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 15vh;
  width: 100vw;
}

/*ANIMATION*/
#bg-animation-box{
  background-image: url("./images/multicolored-abstract-painting-1012982.jpg");
  background-size: cover;
  width:99vw;
}
#home_animation {
  font-size: 9vw;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  margin: 9vh auto;
}

#span-animation {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
  color: white;
}

/* my name on top */

.my_name_text, .web_dev {  
  text-align: center;
}

.my_name_text  {
  font-size: 10vh;
  color:#06D3AB;
  Font-Family: 'Julius Sans One', Sans-Serif;

}

.web_dev{
  font-weight: 100;
  letter-spacing: 9px;
  color: #ef476f;
  margin: -20px auto 10px auto;
}

/* submenu - home */

.submenu{
    font-weight: lighter;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    border-top: white dashed 1px;
    margin: 0 auto;
}

.submenu-name{
  justify-content: center;
  padding:10px;
}



/* Projects */

.cards{
  display: grid;
  justify-content: center;
  grid-gap: 10vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  margin-top: 10vh;
}

.card{
  display:flex;
  background: #ef476f;
  color: white;
  border: none;
  justify-content: center;
  transform:translate(30px, 30px);
}

/*skills component*/

#skills{
  background:whitesmoke;
  color: #03192D;
}

.container{
  justify-content: center;
  text-align: center;
}

.row{
  justify-content: center;
}

.col-logos {
  min-width: 4rem;
  max-width: auto;
  display: grid;
  grid-gap: 10px;
  padding:10px;
  justify-content: center;
  
}
#wyncode-link{
  color: #ef476f;
}
#wyncode-link:visited{
  text-decoration: none;
  color: #06D3AB;
  margin-bottom: 1rem;
}

a:link{
  text-decoration:none;
}

img{
  margin: auto;
  width:70%; 
}

/* contact me */

.contact-me-container{
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}


.form-group{
  display: grid;
  margin-top: 1vh;
  color: #E3E6E8;
  text-align: left;
}

.follow-me-box{
  display: grid;
  align-items: center;
}

/*footer*/

footer{
  padding: 3vh 0px;
  background-color: #03192D;
}

/* ABOUT ME PAGE */
.aboutme{
  margin: auto 7vw;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}

.title{
  margin: 4.5vh auto;
}

.quote_Eisntein{
  display: grid;
  justify-content: center;
  color:#06D3AB;
}

#quote-text{
  font-style: italic;
  font-weight: 400;
}

#quote-author{
  font-weight: 300;
}

.text-aboutme{
  padding: 2rem;
}


@media only screen and (max-width: 600px) {
  
  .my_name_text  {
    font-size: 10vw;
    color:#06D3AB;
    Font-Family: 'Julius Sans One', Sans-Serif;
  }
  
  .web_dev{
    font-size: 5vw;
    letter-spacing: 0px;
    color: #ef476f;
    margin: -5px 0 0 0;
  }

  .cards{
    grid-gap: 15vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 270px));
    margin-top: 10vh;
  }
  

  .card{
    transform:translate(10px, 10px);
    grid-gap: 100px;
  }

  .col-logos {
    min-width: 70px;
    max-width: 120px;
    display: grid;
    grid-gap: 5px;
    padding:5px;
    justify-content: center;
    
  }
  .contact-me-container{
    grid-template-columns: 1fr ;
    grid-row-gap: 80px;
  }
  

}