* {
  font-family: 'Helvetica Neue', sans-serif;
}

body{
  color: white;
  background-color: #03192D
}

 a:visited{
  text-decoration: none;
  color: white;
  margin-bottom: 1rem;
}

a:link{
text-decoration:none;

}

a:hover{
  color: #FFD166;
 
}

p{
  text-align: justify;
}

.App {
  text-align: center;
}

#projects, #skills{
  background:whitesmoke ;
  color: #03192D;
}

/* navbar*/

.navbar-brand {
  font-size: 1rem;
}

.navbar {
  justify-content: flex-end;
  
}  
.navbar-brand:hover{
  border-color: #FFD166;
  border-bottom: 1px solid;
  
}

/* Header */

.App-header {
  min-height: 100vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 15vh;
}

/*ANIMATION*/

#home_animation {
  font-size: 12vw;
  color: #06D6A0;
  margin: 10vh auto;
  font-family: sans-serif;
}

#span-animation {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
  color: white;
}

/* my name on top */


.my_name_text, .web_dev {  
  text-align: center;
  color: #fff ;
}

.my_name_text  {
  font-size: 7vh;

}

.web_dev{
  font-size: 5.2vh;
  font-weight: 100;
  margin-top: -12px;
  margin-bottom: 2rem;
  color: #ef476f;
}





/* submenu - home */
.submenu{
  font-weight: lighter;
  letter-spacing: 1.5rem;
  font-size: calc(10px + 2vmin);
}

/*contact*/
.form-group{
  display: grid;
  justify-content: center;
  margin-top: 1vh;
  color: #E3E6E8;
  
}
/*footer*/
footer{
  padding: 3vh 0px;
  background-color: #03192D;
}

/*skills component*/

#skills{
  margin-top: 6vh;
  padding: 4vh;
}

.container{
  justify-content: center;
  text-align: center;
}

.row{
  justify-content: center;
}

.col {
  min-width: 4rem;
  max-width: auto;
  display: grid;
  grid-gap: 10px;
  padding:10px;
  justify-content: center;
  
}

.col img{
  width:80%; 
}

img{
  margin: auto;
}



/*projects*/

#projects{
  padding: 10vh 10vw;
}

.cards{
  display: grid;
  justify-content: center;
  grid-gap: 5vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
}

.card{
  display:flex;
  background: #ef476f;
  color: white;
  border: none;
  justify-content: center;
}

/* ABOUT ME PAGE */
.aboutme{
  margin: auto 7vw;
  font-weight: 300;
  font-size: calc(6px + 2vmin);
}

.title{
  margin: 4.5vh auto;
}

.quote_Eisntein{
  display: grid;
  justify-content: center;
  color:#06D6A0 ;
}

#quote-text{
  font-style: italic;
  font-weight: 400;
}

#quote-author{
  font-weight: 300;
}

.text-aboutme{
  padding: 2rem;
}

i{
  margin: 0 2rem 2rem 2rem; 
}
