* {
  font-family: 'Helvetica Neue', sans-serif;
}
.App {
  text-align: center;
  background-color: #03192D;
  color: white
}

/* my name on top */



.px-l5 {
  padding-left: 5rem ;
  padding-right: 5rem;
}
.flex {
  display: flex ;
}

.pattern-dots-md {
  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: calc(10 * 1px) calc(10 * 1px) ;
  width: 5vw;
  height:18vh;
}

.my_name_bg {
  color: #E7393F;
}



.my_name_text, .my_name_text_1  {  
  margin: 2px -44px -10px -44px;
  text-align: left;
  color: #fff ;
}

.my_name_text  {
  font-size: 3.2rem;
  margin-top: 2.7rem;
}
.my_name_text_1 {
  font-size: 2rem;
  font-weight: 100;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  ;
}


@keyframes pattern-dots-md {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
